/** Layout **/
#left-menu {
    float: left;
    width: 150px;
    background-color: lightcyan;
}

#container {
    overflow: hidden;
}
#left-menu div {
    margin-bottom: 10px;
    border-bottom: 3px solid gray;
    padding: 3px;
}
#left-menu button {
    width: 95%;

}



/** Transactions **/
table#transactions {
    width: 100%;
}

table#transactions thead {
    background-color: black;
    color: white;
}

table#transactions tbody tr {
    background-color: lightgray;
}
table#transactions tbody tr.even {
    background-color: #bdcee6;
}

table#transactions tbody tr.new-transaction {
    background-color: white;
    vertical-align: top;
}
